:root {
  /* === Цвета === */
  --color-bg-gold: 
  radial-gradient(120% 70% at 50% 0%, rgba(255,255,255,.35) 0 40%, transparent 60%),
    linear-gradient(90deg,#a67c00 0%, #d4af37 22%, #f1da7a 45%, #d4af37 70%, #a67c00 100%);   /* Чистое золото*/
  --color-bg: rgb(252, 249, 240);           /* молочный фон у body*/
  --color-bg-section: rgba(252, 247, 235);         /* фон у крупных блоков/секций */
  --color-small-bg-section: rgba(43, 43, 43, 0.1); /* Фон у мелких блоков */
  --color-block-header: rgb(199, 165, 171, 0.3); /* Фон у заголовка блоков, мелких */
  --color-accent: color-mix(in srgb, #d4af37 100%, black 70%); /* золото / акцент текст */
  --color-dark: #000000;         /* глубокий чёрный */
  --color-light: #FFFFFF;        /* белый */
  --color-active: rgb(112, 110, 105, 0.9);

  /* === Шрифты === */
  --font-main: 'Nunito Sans', sans-serif;     /* основной текст */
  --font-title: 'Playfair Display', serif;    /* заголовки */
  --font-alt: 'Inter', sans-serif;            /* тех. подписи / кнопки */


  --fs-body:  clamp(0.9375rem, 0.6vw + 0.85rem, 1.125rem); /* 15 -> 18 */
  --fs-small: clamp(0.8125rem, 0.2vw + 0.75rem, 0.9375rem); /* 13 -> 15 */
  --fs-lead:  clamp(1.0625rem, 0.8vw + 0.9rem, 1.5rem);     /* 17 -> 24 */

  --fs-h1:    clamp(1.5rem, 1.0254rem + 2.3729vw, 3.25rem);          /* 24 -> 52 */
  --fs-h2:    clamp(1.25rem, 0.979rem + 1.1561vw, 1.875rem); /*  (20-30px) */;
  --fs-h3:    clamp(1.25rem,  1.2vw + 0.95rem, 2.125rem);    /* 20 -> 34 */
  --fs-h4:    clamp(1.125rem, 0.7vw + 0.95rem, 1.625rem);    /* 18 -> 26 */

  --lh-body: 1.55;
  --lh-head: 1.15;
  
  /* === Радиус скругления === */
  --radius-sm: 40px;  /* У шапки */
  --radius-md: 12px;  /* У мелких блоков*/
  --outline-focus: 1px solid black;
  --border-radius-focus: 9.375rem;

  /* === Тень === */
  --shadow-soft: 2px 2px 4px rgba(0, 0, 0, 0.4);  /* Тень у заголовка крупных блоков*/
  --shadow-strong: 10px 10px 20px rgba(0, 0, 0, 0.5);  /* Тень у мелких блоков */
  --shadow-strong-internal: inset 5px 5px 20px rgba(0,0,0,1);
}
